.container {
  height: fit-content + 4em;
}

body {
  min-height: 100%;
  height: max-content;
  padding-bottom: 6em; /* высота футера + желаемое расстояние */
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #0a3865;
  color: white;
  text-align: center;
}
footer a img {
  height: 31px;
  width: 88px;
}
footer img:hover {
  position: relative;
  scale: 1.5;
  transition: 100ms;
}

.image {
    position: fixed;
    z-index: 10;
    bottom: -5px;
}

.image > img {
    width: 103px;
    image-rendering: pixelated;
}

.contacts, .about_title {
  display: flex;
  align-items: center; /* выравнивание по вертикали (по центру) */
  gap: 10px;           /* расстояние между элементами */
}

.available_on {
  display: flex;
  align-items: center; /* выравнивание по вертикали (по центру) */
  justify-content: center;
  gap: 20px;           /* расстояние между элементами */
  padding-top: 25px;
}
.cool_links li a {
  text-decoration: none;
}
.about_content {
  display: flex;           /* включает Flexbox */
  /* align-items: center;     вертикальное выравнивание по центру */
  /* gap: 15px;               отступ между аватаром и текстом */
  font-size: 16px;         /* базовый размер шрифта (можно изменить) */
}

.avatar {
  border-radius: 0%;      /* скругление углов */
  width: 6em;            /* ширина, зависящая от размера шрифта */
  height: 6em;           /* высота, равная ширине (квадрат) */
  margin: 1em;
  margin-top: 0px;
  object-fit: cover;       /* чтобы изображение не искажалось */
}

.heading-text h1 {
  margin: 0;               /* убираем лишние отступы */
  font-size: 1.8rem;       /* пример размера заголовка */
  line-height: 1.2;
}

.heading-text p {
  margin: 5px 0 0;         /* небольшой отступ сверху */
  font-size: 1rem;
}

.sidebar {
  position: fixed;
  top: 20px;
  left: 10px;
  width: 130px;  
  z-index: 1;
  overscroll-behavior: contain;
}
.sidenav2 {
  width: auto;
  overflow-x: hidden;
  padding: 8px 0;
}
.sidenav2 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}
.sidenav2 a:hover {
  color: #064579;
}
.side_buttons {
  /* display: block; */
  margin-top: 12px; 
  height: 45vh;
  overflow: scroll;
  overscroll-behavior: contain;
  scrollbar-width: thin; 
  display: grid;
  justify-items: center;
}